<simulation>
    <app type="ControlApp" />
    
    <robot type="Khepera3">
        <supervisor type="khepera3.K3Supervisor" />
        <pose x="0.5" y="0" theta="1.5708" />
    </robot>
    
    <robot type="Khepera33">
        <supervisor type="khepera33.K3Supervisor" />
        <pose x="-0.5" y="0" theta="1.5708" />
    </robot>
    
     <robot type="Khepera30">
        <supervisor type="khepera30.K3Supervisor" />
        <pose x="1" y="1" theta="1.5708" />
    </robot>
    
    <robot type="Khepera31">
        <supervisor type="khepera31.K3Supervisor" />
        <pose x="-1" y="1" theta="1.5708" />
    </robot>
    
    
    
     <robot type="Khepera330">
        <supervisor type="khepera330.K3Supervisor" />
        <pose x="0.5" y="1" theta="3.1417" />
    </robot>
    
    <robot type="Khepera331">
        <supervisor type="khepera331.K3Supervisor" />
        <pose x="1" y="0.5" theta="1.5708" />
    </robot>
    
            
    <obstacle>  <!--Big upper obstacle-->
        <pose x="-0.6" y="0.9" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="1" y="0" />
            <point x="1" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>

    <obstacle>  <!--Left side bar for Big upper obstacle-->
        <pose x="-0.7" y="0" theta="0" />
        <geometry>
            <point x="0" y="0.2" />
            <point x="0.1" y="0.2" />
            <point x="0.1" y="1" />
            <point x="0" y="1" />
        </geometry>
    </obstacle>
    
      <obstacle>  <!--Right side bar for Big upper obstacle-->
        <pose x="-0.6" y="0" theta="0" />
        <geometry>
            <point x="0.9" y="0.2" />
            <point x="1" y="0.2" />
            <point x="1" y="0.9" />
            <point x="0.9" y="0.9" />
        </geometry>
    </obstacle>


    <obstacle>  <!--Making the Big upper obstacle semicircle Part1-->
        <pose x="-0.6" y="0.1" theta="0" />
        <geometry>
            <point x="0.4" y="0.2" />
            <point x="1" y="0.2" />
            <point x="1" y="0.1" />
            <point x="0.4" y="0.1" />
        </geometry>
    </obstacle>

    <obstacle>  <!--Inner loop part1-->
        <pose x="-0.6" y="0" theta="0" />
        <geometry>
            <point x="0.4" y="0.2" />
            <point x="0.5" y="0.2" />
            <point x="0.5" y="0.6" />
            <point x="0.4" y="0.6" />
        </geometry>
    </obstacle>

    <obstacle>  <!--Making the Big upper obstacle semicircle Part2-->
        <pose x="-0.6" y="0.5" theta="0" />
        <geometry>
            <point x="0.4" y="0.2" />
            <point x="0.7" y="0.2" />
            <point x="0.7" y="0.1" />
            <point x="0.4" y="0.1" />
        </geometry>
    </obstacle>



    <obstacle>
        <pose x="0" y="-0.6" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.4" y="0" />
            <point x="0.4" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="0" y="-0.6" theta="1.5708" />
        <geometry>
            <point x="-0.4" y="0.2" />
            <point x="-0.6" y="0.2" />
            <point x="-0.6" y="0.6" />
            <point x="-0.4" y="0.6" />
        </geometry>
    </obstacle>
    
    
    
    <obstacle>
        <pose x="-1.6" y="-1.5" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-1.5" y="-1.4" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
        <obstacle>
        <pose x="1.5" y="-1.5" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
     <obstacle>
        <pose x="-1.5" y="1.5" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    




</simulation>